@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-pretendard: Pretendard, sans-serif;
    }

    html {
        font-family: var(--font-pretendard), system-ui;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

